<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROBLEM STATEMENTS</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/src/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/components/CSS/navbar.css">
    <link rel="stylesheet" href="/components/CSS/reducednavbar.css">
    <link rel="stylesheet" href="/components/CSS/footer.css">
    <style>
      .sdg-img{
        margin-top: 0%;
      }
      #particles-js{
      position: fixed;
      top:0;
      left:0;
      height:100%;
      width:100%;
      z-index:-9999;
      }
      table{
        color:#bdbdbd;
        font-size: 1.1rem;
        margin:5% 2%;
        align-items: center;
        backdrop-filter: blur(2px) saturate(180%);
        -webkit-backdrop-filter: blur(2px) saturate(180%);
        background-color: rgba(0, 0, 0, 0.5); 
        border: 1px solid rgba(255, 255, 255, 0.125);
      } 
      *{
        text-align: center;
      }
      td{
        padding: 1rem;
      }
      tr{
        outline:2px solid #888;
      }
      h1{
        color:#f44336;
        font-family: 'Montserrat', sans-serif;
      }
      h2{
        margin:2%;
        font-size:2rem;
        color:#f44336;
        font-family: 'Montserrat', sans-serif;
      }
      @media (max-width:800px) {
        .sdg-img{
          width:70%;
          margin-top:30%;
        }
        h1{
          font-size: 1.5rem;
        }
      }
    </style>
  </head>
  <body>
    <div id="particles-js"></div>
    <nav class="header-nav">
      <div class="branding">
          <a href="/index.html"><img src="/src/HackInHub-Logo.png" alt=""></a>
          <h1 class="brand-name">CMR HACKFEST 1.0</h1>
      </div>
  
      <div class="nav-buttons">
          <a href="/index.html" class="nav-btn">Home</a>
          <a href="/components/deadlines.html" class="nav-btn">Schedule</a>
          <a href="#footer" class="nav-btn">Contact Us</a>
          <a href="/components/FAQ.html" class="nav-btn">FAQ</a>
          <a href="/components/Sponsorship.pdf" class="nav-btn ghost-btn">TO SPONSOR THE EVENT</a>

      </div>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <div class="nav-buttons-mobile hidden-nav">
      <a href="/index.html" class="nav-btn">Home</a>
      <a href="/components/deadlines.html" class="nav-btn">Schedule</a>
      <a href="#footer" class="nav-btn">Contact Us</a>
      <a href="/components/Sponsorship.pdf" class="nav-btn ghost-btn">TO SPONSOR THE EVENT</a>

    </div>
    </nav>
    <img class="sdg-img" src="/src/sdg.png"/>
    <br>
    <br>
    <div class="statements">
      <h2>PROBLEM STATEMENTS</h2>
      <br>
      <br id="AI-redirect">
      <br>
      <h2 id="CRE-redirect">CLEAN AND RENEWABALE ENERGY</h2>
      <div id="CLEAN AND RENEWABALE ENERGY">
        <table>
          <tr>
          <th>S.NO</th>
          <th>PSID</th>
          <th>TITLE</th>
          <th>PROBLEM STATEMENT</th>
          <th>SDG GOAL</th>
          <th>HARDWARE/SOFTWARE</th>
        </tr>
        <tr>
          <td>1</td>
          <td>PS01</td>
          <td>Automatic Energy Saving System</td>
          <td>Electricity is the critical need for progress of 
            the livelihood. ln many Indian cities, the maintenance of street lights has become 
            a challenging and inefficient process due to the lack of a centralized monitoring 
            system. ldentifying faults, such as non- functioning lights, current leakage and 
            cable breakage, relies on citizen grievances, leading to delays, increased costs, 
            and safety concerns. Hence, an automatic system to be developed in searching for 
            faults, diagnosing issues, and fixing them</td>
            <td>7,11</td>
            <td>Hardware & Software</td>
        </tr>
        <tr>
          <td>2</td>
          <td>PS02</td>
          <td>Effective Energy Conversion System</td>
          <td>Due to gradual reduction in fossil fuels 
            there is a need for Renewable energy sources directly to generate electricity 
            rather than conventional sources.The solution is to develop/design a model for 
            trapping renewable energy into electrical energy</td>
            <td>7,9</td>
            <td>Hardware</td>
        </tr>
        <tr>
          <td>3</td>
          <td>PS03</td>
          <td>Solar Efficient System</td>
          <td> In recent days, energy generation using solar panels are 
            in high demand, due to lack of proper maintanance of the solar system energy 
            generation is degrading to the levels. Hence, an automatic system to be developed 
            for saving the solar energy. </td>
            <td>7,9</td>
            <td>Hardware & Software</td>
        </tr>
        <tr>
          <td>4</td>
          <td>PS04</td>
          <td>Fitness Square</td>
          <td>The problem involves the untapped potential of harnessing 
            kinetic energy generated during gym workouts for power generation. The 
            challenge is to design a non-intrusive, efficient system that captures and converts 
            mechanical energy from various exercise machines into electrical energy. The 
            solution should be scalable, cost-effective, and encourage widespread adoption in 
            fitness centers. Successful implementation not only contributes to sustainable 
            energy initiatives but also revolutionizes the fitness industry by promoting 
            environmentally conscious practices</td>
            <td>3,7,9</td>
            <td>Hardware</td>
        </tr>
        </table>
      </div>
      <h2 id="HE-redirect">HEALTH</h2>
      <div id="HEALTH">
        <table>
          <tr>
          <th>S.NO</th>
          <th>PSID</th>
          <th>TITLE</th>
          <th>PROBLEM STATEMENT</th>
          <th>SDG GOAL</th>
          <th>HARDWARE/SOFTWARE</th>
        </tr>
        <tr>
          <td>5</td>
          <td>PS05</td>
          <td>Automatic Health Monitoring System</td>
          <td>In present days, the patients belonging 
            to rural and sub-urban communties do not maintain the diagnosis reports for 
            which they frequently go for regular checkups wasting there valuable money. 
            Thus, an automatic report maintaing system is to be developed to avoid repetative 
            diagnosing of the patients.</td>
            <td>3</td>
            <td>Software</td>
        </tr>
        <tr>
          <td>6</td>
          <td>PS06</td>
          <td>Suggestive Automated Mental Health Identification System</td>
          <td>Considering the 
            increasing burden of the mental disorders, it is important to identify the people at 
            the risk of developing mental disorder at early stage to take the necessary action. 
            A solution is to be proposed to address the mental health issues at educational 
            institution level in the early stage and suggest the basic treatment required</td>
            <td>3</td>
            <td>Software</td>
        </tr>
        <tr>
          <td>7</td>
          <td>PS07</td>
          <td>Automatic Sanitization System</td>
          <td>Due to travelling of heavy passengers in the 
            trains there is a possibility of getting infected with the people suffering from 
            various diseases. To address the issue, a system is to be developed for proper 
            sanitization without manual involvement </td>
            <td>3</td>
            <td>Hardware & Software</td>
        </tr>
        <tr>
          <td>8</td>
          <td>PS08</td>
          <td>IoT Based Water Heater</td>
          <td>Now a days Most of the people are using Electric 
            Water Heater. In some occasions few people lost their life because of touching the 
            water when the power supply is on. So to prevent this come up with latest 
            technology to overcome the above problem</td>
            <td>3</td>
            <td>Hardware & Software</td>
        </tr>
        <tr>
          <td>9</td>
          <td>PS09</td>
          <td>Industry Dust Collector</td>
          <td>In recent days, most of the people are suffering from 
            asthma and other health issues due to air polution exclusively bacause of the dust 
            coming out from the industries. An automatic system is to be developed to 
            address this issue which can do air purification.</td>
            <td>3</td>
            <td>Hardware & Software</td>
        </tr>
        <tr>
          <td>10</td>
          <td>PS10</td>
          <td>Smart Public Toilet</td>
          <td>Even in the most modern times, Public facing the problem 
            with non hygienic toilet while traveling or going out. Here the problem statements 
            aim to the development of an automatic self-cleaning, toilet system. Instead of 
            water washing and all, the focus here is on ultraviolet disinfection, hot air drying, 
            and smart saving of water. The final result is a toilet like that of a home. Also, 
            there should be a provision to know the availability of the nearest toilets in 
            working condition. In addition to the above, the smart toilet could also include the 
            following features: A built-in air freshener: This would help to keep the toilet 
            smelling fresh and clean. A motion sensor: This would automatically flush the 
            toilet and open the lid when someone approaches. A built-in bidet: This would 
            provide a more hygienic way to clean oneself after using the toilet.</td>
            <td>3</td>
            <td>Hardware & Software</td>
        </tr>
        <tr>
          <td>11</td>
          <td>PS11</td>
          <td>SunStroke Protection System</td>
          <td>During farming, farmers/Labours will be working 
            in the sunlight due to which they may be affected with sunstroke and heavy sweat. 
            Hence, there is need to develop a system to protect themselves from sun stroke 
            and maintain good health conditions.</td>
            <td>3</td>
            <td>Hardware</td>
        </tr>
        </table> 
      </div>
      <h2 id="WM-redirect">WASTE MANAGEMENT</h2>
      <div id="WASTE MANAGEMENT">
        <table>
          <tr>
          <th>S.NO</th>
          <th>PSID</th>
          <th>TITLE</th>
          <th>PROBLEM STATEMENT</th>
          <th>SDG GOAL</th>
          <th>HARDWARE/SOFTWARE</th>
        </tr>
        <tr>
          <td>12</td>
          <td>PS12</td>
          <td>IoT Based Smart Waste Management System for Smart City</td>
          <td>In the present 
            day scenario, many times we see that the garbage bins or Dust bins placed at 
            public places in the cities are overflowing due to increase in the waste every day. 
            It creates an unhygienic condition for the people and creates a bad smell around 
            the surroundings that leads to the spread of some deadly diseases & human 
            illness. Design a “IoT Based Waste Management for Smart Cities " which can 
            overcome these problems</td>
            <td>3,12</td>
            <td>Hardware & Software</td>
        </tr>
        <tr>
          <td>13</td>
          <td>PS13</td>
          <td>E-waste Monitoring System</td>
          <td>The government and private organizations always 
            require electronic items which may need to be replaced periodically to get 
            benefited by the newly developed electronic gadgets/advanced features. Hence, 
            there is a need to provide a software platform to collect, monitor and recycle E-Waste</td>
            <td>3,12</td>
            <td>Software</td>
        </tr>
        <tr>
          <td>14</td>
          <td>PS14</td>
          <td>Automatic Garbage Alerting System</td>
          <td>Addressing the widespread plastic 
            pollution on the outskirts of cities or villages requires a multi-pronged approach 
            involving community engagement, government policies, education, and 
            sustainable waste management. It is necessary to suggest a tracking system that 
            has an integrated mechanism for sorting plastic trash, since this is a 
            straightforward and cost-effective technique to categorize and monitor plastic 
            garbage. Following the sorting process, the tracking system then tells the server of 
            the total amount of plastic garbage produced by each home. Also homes that give 
            out more plastic should trigger an alarm by sending a text message to nearby 
            mobile devices </td>
            <td>3,12</td>
            <td>Hardware & Software</td>
        </tr>
        </table> 
      </div>
      <h2 id="TL-redirect">TRANSPORTATION AND LOGISTICS</h2>
      <div id="TRANSPORTATION AND LOGISTICS">
          <table>
            <tr>
            <th>S.NO</th>
            <th>PSID</th>
            <th>TITLE</th>
            <th>PROBLEM STATEMENT</th>
            <th>SDG GOAL</th>
            <th>HARDWARE/SOFTWARE</th>
            </tr>
            <tr>
              <td>15</td>
              <td>PS15</td>
              <td>Smart TransBot System</td>
              <td>There is a packaging box manufacturing company in 
                Hyderabad. From the production unit to the storage area, the workers need to 
                transport them. However, the management is searching for a bot that can pick up 
                and place the 15 cm by 10 cm by 10 cm packing box on the conveyor.</td>
                <td>9</td>
                <td>Hardware & Software</td>
            </tr>
            <tr>
              <td>16</td>
              <td>PS16</td>
              <td>Advanced E-Commerce</td>
              <td>The integration of augmented reality technology in 
                shopping malls aims to improve the traditional shopping experience by allowing 
                shoppers to virtually try on clothing and accessories in real-time, offering accurate 
                size and fit simulations, a diverse range of virtual products, and seamless 
                integration with e-commerce platforms.
                </td>
                <td>9</td>
                <td>Software</td>
            </tr>
            <tr>
              <td>17</td>
              <td>PS17</td>
              <td>Conveyer Belt Fault Detection</td>
              <td>In a industry, the long cable belt conveyor is 
                supported on pulleys. A steel rope runs over these pulleys while the belt sits over 
                them. The conveyor is operated by pulling the steel ropes with a drive motor. The 
                rope gets elongated due to pulling force leading to breakage of its strands. 
                Similarly, the belt also gets worn out causing stoppage of conveyor operation 
                unpredictably. In order to overcome this, we require a solution to predit the 
                condition of belt well in advance</td>
                <td>9</td>
                <td>Hardware & Software</td>
            </tr>
            <tr>
              <td>18</td>
              <td>PS18</td>
              <td>Multi Terrain Bot</td>
              <td>The probe which in most cases is referred to as a Bot, which 
                passes through hurdles that mere humans cannot withstand. One can’t help but be 
                fascinated by the amount of work that needs to be put in to make Bots that are 
                endurant and versatile to work at different atmospheres. There is a need to build a 
                manually controlled, wireless, Bot that has the capacity to move through a 
                predefined path would consist of varied terrain, having potholes, water and other 
                kinds of terrains. The dimensions of the Bot is restricted to 20cm, 20cm and 
                20cm.</td>
                <td>9</td>
                <td>Hardware & Software</td>
            </tr>
            <tr>
              <td>19</td>
              <td>PS19</td>
              <td>Shortest Path Finding Bot</td>
              <td>The probe which in most cases is referred to as a 
                Bot, that follows the shortest path as specified in the arena which consumes less 
                amount of time. There is a need to build a manually controlled, wireless Bot 
                which can accommodate in 20cm, 20cm and 20cm dimensional box meeting 
                the requirements specified</td>
                <td>9</td>
                <td>Hardware & Software</td>
            </tr>
            <tr>
              <td>20</td>
              <td>PS20</td>
              <td>Smart Railway Wagons</td>
              <td>CIL has been supplying coal to its consumers by Rail 
                through Railway Sidings. The railway wagons at such sidings are loaded through 
                contractual means by payloader. The loading of wagons by contractual 
                arrangement often results in overloading or underloading Railway wagons. The 
                rules of Penal overloading and underloading are notified by Railway. Any penalty 
                for overloading charged by the Railway for any consignment is payable by the 
                purchaser. However, in case of underloading of wagons, credit for idle freight is 
                adjusted in coal bills. Thus any idle freight for under-loading is borne by CIL. 
                During 2021-22, the expense for under-loading was nearly Rs.593 Cr. whereas the 
                contract for wagon loading itself was only Rs.276 Cr. Hence, a digital solution in 
                the form of sensor/ IoT is needed to prevent the under-loading and overloading of 
                Railway wagons.</td>
                <td>9</td>
                <td>Hardware & Software</td>
              </tr> 
              </table>
      </div>
      <h2 id="AG-redirect">AGRICULTURE</h2>
      <div id="AGRICULTURE">
        <table>
          <tr>
          <th>S.NO</th>
          <th>PSID</th>
          <th>TITLE</th>
          <th>PROBLEM STATEMENT</th>
          <th>SDG GOAL</th>
          <th>HARDWARE/SOFTWARE</th>
          </tr>
          <tr>
            <td>21</td>
            <td>PS21</td>
            <td>Effective Farming System</td>
            <td>The future of agriculture holds the opportunities & 
              power to reshape our lives. Mechanized puddling, seeding, transplanting, 
              weeding, harvesting of field and plantation crops. Ṁechanization of hilly 
              agriculture, horticulture, and protected cultivation. There is a need to provide costeffective systems for enhancing the efficiency of existing agro-machineries for 
              assessing quality, grading & sorting, processing of agri-produce.</td>
              <td>2,13</td>
              <td>Hardware & Software</td>
          </tr>
          <tr>
            <td>22</td>
            <td>PS22</td>
            <td>Crop and soil management System:</td>
            <td>Farmers face several challenges related to 
              crop selection, soil management, disease identification and other factors, which 
              can impact agricultural productivity and sustainability. To address these 
              challenges, we need an application to help farmers for full fledged farming.</td>
              <td>2</td>
              <td>Software</td>
          </tr>
          </table>
      </div>
      <h2 id="SE-redirect">SMART EDUCATION</h2>
      <div id="SMART EDUCATION">
        <table>
          <tr>
          <th>S.NO</th>
          <th>PSID</th>
          <th>TITLE</th>
          <th>PROBLEM STATEMENT</th>
          <th>SDG GOAL</th>
          <th>HARDWARE/SOFTWARE</th>
          </tr>
          <tr>
            <td>23</td>
            <td>PS23</td>
            <td>Smart Assesment Board</td>
            <td>School teacher is planning to conduct a quiz 
              competition on identifying states and its capitals of our country. Hence, school 
              teacher needs a model through which teacher conducts the competition easily</td>
              <td>4</td>
              <td>Hardware & Software</td>
          </tr>
          <tr>
            <td>24</td>
            <td>PS24</td>
            <td>Language (Text) Translate System</td>
            <td>A large portion of resource materials and 
              other texts are only available in English. Experts at their own level translate it 
              which consumes large amount of time which could have been utilized in 
              developing novel methodologies. The Challenge is to develop a system that can 
              translate text from English to other Indian regional languages with minimum 
              human input for proof reading and with very high accuracy</td>
              <td>4</td>
              <td>Software</td>
          </tr>
          <tr>
            <td>25</td>
            <td>PS25</td>
            <td>Audio & Video Translate System</td>
            <td>A large portion of audio & videos are 
              available in English. It consumes large amount of time by the experts in 
              respective languages to convert them into required languages which could have 
              been utilized in developing novel methodologies. The Challenge is to develop a 
              system that can translate audio/videos from English to other languages effectively 
              without any distortions and time consuming process with minimum human 
              involvement. </td>
              <td>4</td>
              <td>Software</td>
          </tr>
          </table>
      </div>
    </div>
    <footer id="footer">

      <div class="contact-card">
          <center><b>CONTACT</b></center>
          <br>
          <div class="mail">
            <img src="/src/footerlogos/mail.png"/>
            <a href="mailto:cmrhackfest@cmrcet.ac.in">cmrhackfest@cmrcet.ac.in</a>
          </div>
          <br>
          <div class="profile">
            <div><b> FOR HACKATHON</b></div>
          <div>
              <img src="/src/footerlogos/person.png"/>
              Mr.K.Ravi Kiran
            </div>
            <div>
              <img src="/src/footerlogos/phone.png" alt="">
              <a href="tel:+919701227088">9701227088</a>
            </div>
          </div>
          <br>
          <div class="profile">
            <div>
              <img src="/src/footerlogos/person.png"/>
              Mr.B.Venkateshwar Rao
            </div>
            <div>
              <img src="/src/footerlogos/phone.png" alt="">
              <a href="tel:+918985193337">8985193337</a>
            </div>
          </div> 
          <br>
          <div class="profile">
            <div><b> FOR PROJECT EXPO</b></div>
            <div>
              <img src="/src/footerlogos/person.png"/>
              Mrs.Tulasi Reddy
            </div>
            <div>
              <img src="/src/footerlogos/phone.png" alt="">
              <a href="tel:+919398754485">9398754485</a>
            </div>
          </div> 
        </div>
  
        <div class="location-card">
          <div>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3802.9592002759996!2d78.48394557389247!3d17.60467219651173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb850bb545e95b%3A0x4367e509f5ff38e5!2sCMR%20College%20of%20Engineering%20%26%20Technology%2C%20Hyderabad%20(CMRCET%2FCMRK)!5e0!3m2!1sen!2sin!4v1704028620055!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <br>
          <div class="address">
            <span>CMR COLLEGE OF ENGINEERING & TECHNOLOGY</span>
            <p>KANDLAKOYA, MEDCHAL ROAD,</p>
            <p>HYDERABAD -501401, TELANGANA</p>
          </div>
        </div>
  </footer>
  <a href="#" class="top">↑</a>
  <script>
    if(window.screen.width < 450){
      alert('Try Landscape mode for better view')
    }
  </script>
	<script src="/components/JS/reducednavbar.js"></script>
  <script src="/components/JS/table.js"></script>
  <script src="/compponents/JS/particles.js"></script>
  <script src="/compponents/JS/lessparticle.js"></script>
  </body>
</html>